@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Questrial';
  src: url('../fonts/Questrial-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  }


.parent-homepage{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    font-family: 'Questrial','sans';
}

.genre-category{
  display: grid;
  grid-template-columns: 20% 78% 2%;
}

.genre-category:hover{
  color:#8685ef;
}

.genre-category .svg{
  fill:grey;
  stroke: grey;
  stroke-width: 1px;
}
.genre-category:hover .svg{
  fill:#8685ef;
  stroke: #8685ef;
}

.top-bar{
  display: grid;
  grid-template-columns: 70% 30%;
}

.search-bar{
  display: grid;
  grid-template-columns: 10% 90%;
  align-items: center;
}

.username{
  display: grid;
  column-gap: 10%;
  grid-template-columns: 20% 70%;
  align-items: center;
}

.slideshow{
  transition: all ease-in-out 2s;

}
.slideshow:hover{
  transition: all ease-in-out 2s;
}

.slideshow .info{
  animation: disappear 0.7s ease-in-out;
  visibility: hidden;
  background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(54, 53, 53));
  transition: all ease-in-out 0.7s;
}
.slideshow:hover .info{
  display: flex;
  visibility: visible;
  background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(54, 53, 53));
  animation: appear 0.7s ease-in-out;
}

@keyframes appear {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

@keyframes disappear {
  from {
      opacity: 1;
  }

  to {
      opacity: 0;
  }
}